html {
    scroll-behavior: smooth;
    scrollbar-width: normal;
    scrollbar-color: $color-secondary #030303;
     ::-webkit-scrollbar {
        width: 1vw;
        // width: 0;
    }
     ::-webkit-scrollbar-thumb {
        transition: all .5s ease-in-out; // don't work
        background-color: $color-secondary;
        border-radius: 20px;
        border: 2px solid $bg-color;
    }
     ::-webkit-scrollbar-thumb:hover {
        background-color: $color-secondary;
    }
     ::-webkit-scrollbar-track {
        // background-color: $color-secondary;
        background-color: transparent;
    }
}

.m-l-10px {
    margin-left: 10px;
}

.m-10px {
    margin: 0 10px;
}

@mixin inputs {
    padding: 12px 16px;
    width: 300px;
    margin: 2px;
    border-radius: 0;
    outline: none;
    border: none;
}