@font-face {
    font-family: 'Google Sans';
    src: url(../assets/fonts/6148a025d3a0000abb55686d_GoogleSans-Medium-v1.27.ttf);
}

$font-family: 'Google Sans',
'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$bg-color: #181C1D;
$color-white: #fff;
$color-secondary: #282F33;
$color-primary: #030303;
$color-accent: #181C1D;